#board { width: 700px; }

#title {
  text-align: center;
  font-size: xx-large;
}

.grid td {
  width: 30px;
  height: 30px;
  border: none;
}

#player_message { float: left; }
#cpu_message { float: right; }
#player_grid { float: right; }
#cpu_grid { float: left; }

.gridO {background-color: blue;}
.gridM {background-color: DodgerBlue;}
.gridH {background-color: red;}
.grid0 {background-color: DarkOrchid;}
.grid1 {background-color: SpringGreen;}
.grid2 {background-color: DarkOrange;}
.grid3 {background-color: Gold;}
.grid4 {background-color: fuchsia;}
